* {
	border: none;
	border-radius: 0;
	font-family: monospace;
	font-size: 9pt;
	min-height: 0;
}

window {
	background: #32302f;
	color: #ebdbb2;
}

#workspaces button {
	padding: 0 0.25em;
	border: 1px solid transparent;
}
#workspaces button.visible { border: 1px solid #a89984; }
#workspaces button.focused { border: 1px solid #8ec07c; }
#workspaces button.urgent { border: 1px solid #cc241d; }

/* all modules */
#workspaces, #window, #mpd, #clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
	background: #282828;
	border-left: 0.25px solid;
	border-right: 0.25px solid;
}

#window {
	margin: 0 1em;
	border-bottom: 1px solid #8ec07c;
}
