notebook {
	padding: 0;
}

notebook tabs,
notebook tab {
	margin: 0;
	padding: 0;
}

button, entry {
	margin: 0;
	padding: 0.25em;
}

notebook tabs,
notebook tab,
button,
entry {
	min-height: unset;
	min-width: unset;
}

menuitem {
	padding: 0.1em 0;
	margin: 0.1em 0.2em;
}
